<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Di động High-tech</title>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="./assets/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="./assets/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="./assets/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./assets/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="./assets/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="./assets/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="./assets/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="./assets/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./assets/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="./assets/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="./assets/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./assets/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="./assets/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="stylesheet" href="./assets/fonts/stylesheet.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="./assets/css/main.css" />

    <!-- Scripts -->
    <script src="./assets/js/scripts.js"></script>
  </head>
  <body>
    <!-- Header -->
    <%- include("./templates/header.ejs") %>

    <!-- MAIN -->
    <main class="checkout-page">
      <div class="container">
        <!-- Search bar -->
        <div class="checkout-container">
          <div class="search-bar d-none d-md-flex">
            <input
              type="text"
              name=""
              id=""
              placeholder="Search for item"
              class="search-bar__input"
            />
            <button class="search-bar__submit">
              <img
                src="./assets/icons/search.svg"
                alt=""
                class="search-bar__icon icon"
              />
            </button>
          </div>
        </div>

        <!-- Breadcrumbs -->
        <div class="checkout-container">
          <ul class="breadcrumbs checkout-page__breadcrumbs">
            <li>
              <a href="/" class="breadcrumbs__link">
                Trang chủ
                <img src="./assets/icons/arrow-right.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="/checkout" class="breadcrumbs__link">
                Thanh toán
                <img src="./assets/icons/arrow-right.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="#!" class="breadcrumbs__link breadcrumbs__link--current"
                >Vận chuyển</a
              >
            </li>
          </ul>
        </div>

        <!-- Checkout content -->
        <div class="checkout-container">
          <div class="row gy-xl-3">
            <div class="col-8 col-xl-12">
              <div class="cart-info">
                <h1 class="cart-info__heading">
                  1. Đơn hàng sẽ được vận chuyển đến bạn sau 2-3 ngày kể từ khi
                  thanh toán thành công
                </h1>
                <div class="cart-info__separate"></div>

                <!-- Checkout address -->
                <div class="user-address">
                  <div class="user-address__top">
                    <div>
                      <h2 class="user-address__title">Địa chỉ nhận hàng</h2>
                      <p class="user-address__desc">
                        Đơn hàng của bạn sẽ được giao đến địa chỉ đã chọn
                      </p>
                    </div>
                    <button
                      class="user-address__btn btn btn--primary btn--rounded btn--small js-toggle"
                      toggle-target="#add-new-address" onclick="initJsToggle()">
                      <img src="./assets/icons/plus.svg" alt="" />
                      Thêm
                    </button>
                  </div>
                  <div class="user-address__list">
                    <!-- Empty message: khi user chưa có địa chỉ sẽ hiển thị-->
                    <!-- <p class="user-address__message">
                        Chưa có địa chỉ nào
                        <a
                            class="user-address__link js-toggle"
                            href="#!"
                            toggle-target="#add-new-address"
                            >Thêm</a
                        >
                        </p> -->

                    <!-- Address card 1 -->
                    <article class="address-card">
                      <div class="address-card__left">
                        <div class="address-card__choose">
                          <label class="cart-info__checkbox">
                            <input
                              type="radio"
                              name="shipping-adress"
                              checked
                              class="cart-info__checkbox-input"
                            />
                          </label>
                        </div>
                        <div class="address-card__info">
                          <h3 class="address-card__title"><%= user_name %></h3>
                          <p class="address-card__desc">
                            Q. Bắc Từ Liêm, Tp Hà Nội
                          </p>
                          <ul class="address-card__list">
                            <li class="address-card__list-item">Gagshvbjdnkml,;</li>
                            <li class="address-card__list-item">
                              Nhận tại cửa hàng
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="address-card__right">
                        <div class="address-card__ctrl">
                          <button
                            class="cart-info__edit-btn js-toggle"
                            toggle-target="#add-new-address"
                            onclick="initJsToggle()"
                          >
                            <img
                              class="icon"
                              src="./assets/icons/edit.svg"
                              alt=""
                            />
                            Sửa
                          </button>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>

                <div class="cart-info__separate"></div>

                <h2 class="cart-info__sub-heading">Đơn hàng bao gồm</h2>
                <div class="cart-info__list">
                  <% for (i = 0; i < fav_product_id.length; i++) { %>
                    <article class="cart-item">
                      <a href="./product-detail.html">
                        <img
                          src="<%= fav_product_img[i] %>"
                          alt=""
                          class="cart-item__thumb"
                        />
                      </a>
                      <div class="cart-item__content">
                        <div class="cart-item__content-left">
                          <h3 class="cart-item__title">
                            <a href="./product-detail.html"> <%= fav_product_name[i] %> </a>
                          </h3>
                          <p class="cart-item__price-wrap">
                            <%= fav_product_price[i] %> |
                            <span class="cart-item__status">Còn</span>
                          </p>
                          <div class="cart-item__ctrl cart-item__ctrl--md-block">
                            <div class="cart-item__input">
                              Loại
                              <img
                                class="icon"
                                src="./assets/icons/arrow-down-2.svg"
                                alt=""
                              />
                            </div>
                            <div class="cart-item__input">
                              <button class="cart-item__input-btn">
                                <img
                                  class="icon"
                                  src="./assets/icons/minus.svg"
                                  alt=""
                                />
                              </button>
                              <span>1</span>
                              <button class="cart-item__input-btn">
                                <img
                                  class="icon"
                                  src="./assets/icons/plus.svg"
                                  alt=""
                                />
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="cart-item__content-right">
                          <p class="cart-item__total-price"><%= fav_product_price_per_product[i] %></p>
                          <div class="cart-item__ctrl">
                            <button class="cart-item__ctrl-btn">
                              <img src="./assets/icons/heart-2.svg" alt="" />
                              Thích
                            </button>
                            <button
                              class="cart-item__ctrl-btn js-toggle"
                              toggle-target="#delete-confirm"
                            >
                              <img src="./assets/icons/trash.svg" alt="" />
                              Xoá
                            </button>
                          </div>
                        </div>
                      </div>
                    </article>
                    <% } %>
                </div>
                <div class="cart-info__bottom d-md-none">
                  <div class="row">
                    <div class="col-8 col-xxl-7">
                      <div class="cart-info__continue">
                        <a href="./" class="cart-info__continue-link">
                          <img
                            class="cart-info__continue-icon icon"
                            src="./assets/icons/arrow-down-2.svg"
                            alt=""
                          />
                          Tiếp tục mua sắm
                        </a>
                      </div>
                    </div>
                    <div class="col-4 col-xxl-5">
                      <div class="cart-info__row">
                        <span>Tổng:</span>
                        <span><%= price %></span>
                      </div>
                      <div class="cart-info__row">
                        <span>Phí vận chuyển:</span>
                        <span>Miễn phí</span>
                      </div>
                      <div class="cart-info__separate"></div>
                      <div class="cart-info__row cart-info__row--bold">
                        <span>Tất toán:</span>
                        <span><%= price %></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 col-xl-12">
              <div class="cart-info">
                <div class="cart-info__row">
                  <span
                    >Số lượng
                    <span class="cart-info__sub-label">(Sản phẩm)</span></span
                  >
                  <span><%= price %></span>
                </div>
                <div class="cart-info__row">
                  <span
                    >Giá
                    <span class="cart-info__sub-label">(Ước tính)</span></span
                  >
                  <span><%= price %></span>
                </div>
                <div class="cart-info__row">
                  <span>Phí vận chuyển</span>
                  <span>Miễn phí</span>
                </div>
                <div class="cart-info__separate"></div>
                <div class="cart-info__row">
                  <span>Cần thanh toán</span>
                  <span><%= price %></span>
                </div>
                <a
                  href="./payment"
                  class="cart-info__next-btn btn btn--primary btn--rounded"
                >
                  Tiếp tục thanh toán
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <%- include("./templates/footer.ejs") %>

    <!-- Modal: confirm remove shopping cart item -->
    <div id="delete-confirm" class="modal modal--small hide">
      <div class="modal__content">
        <p class="modal__text">
          Chắc chắn xoá sản phẩm khỏi giỏ hàng?
        </p>
        <div class="modal__bottom">
          <button
            class="btn btn--small btn--outline modal__btn js-toggle"
            toggle-target="#delete-confirm"
          >
            Huỷ
          </button>
          <button
            class="btn btn--small btn--danger btn--primary modal__btn btn--no-margin js-toggle"
            toggle-target="#delete-confirm"
          >
            Xoá
          </button>
        </div>
      </div>
      <div
        class="modal__overlay js-toggle"
        toggle-target="#delete-confirm"
      ></div>
    </div>

    <!-- Modal: address new shipping address -->
    <div
      id="add-new-address"
      class="modal hide"
      style="--content-width: 650px;"
    >
      <div class="modal__content">
        <form action="/add_address" class="form" method="POST">
          <h2 class="modal__heading">Địa chỉ nhận hàng mới</h2>
          <div class="modal__body">
            <div class="form__row">
              <div class="form__group">
                <label for="name" class="form__label form__label--small"
                  >Tên</label
                >
                <div class="form__text-input form__text-input--small">
                  <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Tên"
                    class="form__input"
                    required
                    minlength="2"
                  />
                  <img
                    src="./assets/icons/form-error.svg"
                    alt=""
                    class="form__input-icon-error"
                  />
                </div>
                <p class="form__error">Tên người nhận tối thiểu 2 chữ cái</p>
              </div>
              <div class="form__group">
                <label for="phone" class="form__label form__label--small"
                  >SDT</label
                >
                <div class="form__text-input form__text-input--small">
                  <input
                    type="tel"
                    name="phonenumber"
                    id="phone"
                    placeholder="Số điện thoại"
                    class="form__input"
                    required
                    minlength="10"
                  />
                  <img
                    src="./assets/icons/form-error.svg"
                    alt=""
                    class="form__input-icon-error"
                  />
                </div>
                <p class="form__error">Số điện thoại phải là số có 10 chữ số</p>
              </div>
            </div>
            <div class="form__group">
              <label for="address" class="form__label form__label--small"
                >Địa chỉ giao</label
              >
              <div class="form__text-area">
                <textarea
                  name="homeaddress"
                  id="address"
                  placeholder="Số nhà, đường"
                  class="form__text-area-input"
                  required
                ></textarea>
                <img
                  src="./assets/icons/form-error.svg"
                  alt=""
                  class="form__input-icon-error"
                />
              </div>
              <p class="form__error">Địa chỉ không được bỏ trống</p>
            </div>
            <div class="form__group">
              <label for="city" class="form__label form__label--small"
                >Tỉnh(Thành phố)/Huyện(Quận)/Xã(Phường)</label
              >
              <div class="form__text-input form__text-input--small">
                <input
                  type="text"
                  name="districtaddress"
                  placeholder="Tỉnh(Thành phố)/Huyện(Quận)/Xã(Phường)"
                  id="city"
                  
                  class="form__input js-toggle"
                  toggle-target="#city-dialog"
                />
                <img
                  src="./assets/icons/form-error.svg"
                  alt=""
                  class="form__input-icon-error"
                />

                <!-- Select dialog -->
                <div id="city-dialog" class=" hide">
                  <h2 class="form__dialog-heading d-none d-sm-block">
                    Tỉnh(Thành phố)/Huyện(Quận)/Xã(Phường)
                  </h2>
                  <!-- <button
                    class="form__close-dialog d-none d-sm-block js-toggle"
                    toggle-target="#city-dialog"
                  >
                    &times
                  </button> -->
                  <!-- <div class="form__search">
                    <input
                      type="text"
                      placeholder="Tìm"
                      class="form__search-input"
                    />
                    <img
                      src="./assets/icons/search.svg"
                      alt=""
                      class="form__search-icon icon"
                    />
                  </div> -->
                  <!-- <ul class="form__options-list">
                    <li class="form__option">Ha Noi</li>
                    <li class="form__option form__option--current">
                      Ho Chi Minh
                    </li>
                    <li class="form__option">Da Nang</li>
                    <li class="form__option">Ha Noi</li>
                    <li class="form__option">Ho Chi Minh</li>
                    <li class="form__option">Da Nang</li>
                    <li class="form__option">Ha Noi</li>
                    <li class="form__option">Ho Chi Minh</li>
                    <li class="form__option">Da Nang</li>
                    <li class="form__option">Ha Noi</li>
                    <li class="form__option">Ho Chi Minh</li>
                    <li class="form__option">Da Nang</li>
                    <li class="form__option">Ha Noi</li>
                    <li class="form__option">Ho Chi Minh</li>
                    <li class="form__option">Da Nang</li>
                    <li class="form__option">Ha Noi</li>
                    <li class="form__option">Ho Chi Minh</li>
                    <li class="form__option">Da Nang</li>
                    <li class="form__option">Ha Noi</li>
                    <li class="form__option">Ho Chi Minh</li>
                    <li class="form__option">Da Nang</li>
                    <li class="form__option">Ha Noi</li>
                    <li class="form__option">Ho Chi Minh</li>
                    <li class="form__option">Da Nang</li>
                    <li class="form__option">Ha Noi</li>
                    <li class="form__option">Ho Chi Minh</li> 
                    <li class="form__option">Da Nang</li>
                    <li class="form__option">Ha Noi</li>
                    <li class="form__option">Ho Chi Minh</li>
                    <li class="form__option">Da Nang</li>
                    <li class="form__option">Ha Noi</li>
                    <li class="form__option">Ho Chi Minh</li>
                    <li class="form__option">Da Nang</li>
                    <li class="form__option">Ha Noi</li>
                    <li class="form__option">Ho Chi Minh</li>
                    <li class="form__option">Da Nang</li>
                  </ul>  -->
                </div> 
              </div>
              <p class="form__error">Số điện thoại phải là số có 10 chữ số</p>
            </div>
            <div class="form__group form__group--inline">
              <label class="form__checkbox">
                <input
                  type="checkbox"
                  name=""
                  id=""
                  class="form__checkbox-input d-none"
                />
                <span class="form__checkbox-label"
                  >Đặt làm địa chỉ mặc định</span
                >
              </label>
            </div>
          </div>
          <div class="modal__bottom">
            <button
              class="btn btn--small btn--text modal__btn js-toggle"
              toggle-target="#add-new-address"
            >
              Huỷ
            </button>
            <button
              class="btn btn--small btn--primary modal__btn btn--no-margin js-toggle"
              toggle-target="#add-new-address"
            >
              Tạo
            </button>
          </div>
        </form>
      </div>
      <div class="modal__overlay"></div>
    </div>
  </body>
</html>
